<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="assets/logo.jpg" alt="RECITEC Logo" />
      <h3>RECITEC</h3>
      <p>Concientizando sobre el reciclaje electrónico</p>
    </div>

    <div class="footer-links">
      <h4>Enlaces</h4>
      <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/servicios">Servicios</a></li>
        <li><a routerLink="/nosotros">Sobre Nosotros</a></li>
        <li><a routerLink="/contacto">Contacto</a></li>
      </ul>
    </div>

    <div class="footer-social">
  <h4>Síguenos</h4>
  <div class="social-icons">
    <a href="https://www.facebook.com/www.recitec.com.ec" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
      <i class="fa-brands fa-facebook-f"></i>
    </a>
    <a href="https://www.instagram.com/recitec.ec/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="https://www.tiktok.com/@recitec.ec?lang=es" target="_blank" rel="noopener noreferrer" aria-label="TikTok">
      <i class="fa-brands fa-tiktok"></i>
    </a>
    <a href="https://www.recitec.com.ec/" target="_blank" rel="noopener noreferrer" aria-label="R">
      <span style="font-weight: bold; font-size: 18px; color: black;">R</span>
    </a>
  </div>
</div>

  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 RECITEC. Todos los derechos reservados.</p>
  </div>
</footer>
