<div class="contenedor py-5">
    <div class="titulo-container d-flex align-items-center">
        <!-- Contenedor circular para el ícono -->
  
        <!-- Texto del título -->
        <h5 class="titulo">
          Conoce los Residuos que procesamos 
        </h5>
        <div class="icono-titulo me-3 ms-5">
          <i class="fas fa-clipboard-list"></i> <!-- Ícono de anotaciones -->
        </div>
      </div>

    <!-- Contenedor principal que agrupa los nombres y detalles -->
    <div class="contenedor-centrado mx-auto">
        <div class="nombres-contenedor shadow mx-auto mt-5" *ngIf="residuosSeleccionada">
            <div class="nombres-visible row">
                <div 
                    *ngFor="let residuo of residuos" 
                    class="empresa-nombre text-center mx-2 my-2" 
                    (click)="seleccionarResiduo(residuo)" 
                    [class.seleccionada]="residuo === residuosSeleccionada"
                >
                    <span class="nombre-texto">{{ residuo.nombre }}</span>
                </div>
            </div>
            <div class="contenedor-detalles text-center">
                <div class="detalles-residuo">
                    <!-- Imagen a la izquierda -->
                    <div class="imagen-residuo">
                        <img [src]="residuosSeleccionada.imagen" alt="{{ residuosSeleccionada.nombre }}" class="imagen-residuo-img">
                    </div>
                    <!-- Detalles a la derecha -->
                    <div class="texto-detalle">
                        <h3 class="text-primary">{{ residuosSeleccionada.nombre }}</h3>

                        <p class="descripcion-residuo">
                            {{ residuosSeleccionada.descripcion }}
                        </p>
                        <!-- Listado de puntos -->
                        <ul class="list-unstyled">
                            <li *ngFor="let caracteristica of residuosSeleccionada.caracteristicas">{{ caracteristica }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hero-section">
    <img src="assets/img/RAEE.jpg" alt="Facility workers" class="hero-image">
    <div class="gradient-overlay"></div>
    
    <div class="container-info">
        <div class="row">
            <div class="col-12 content-wrapper">
                <h1 class="main-title">
                    ¿Sabías que estos dispositivos pueden tener una segunda vida después de su uso?
                </h1>
                <p class="subtitle">
                    Explora el mundo de los AEE y RAEE, y descubre cómo gestionarlos de manera responsable.
                </p>
                <div class="col-md-6">
                    <div class="info-text">
                        Hoy en día, nuestra dependencia de los <span class="highlight-text">Aparatos Eléctricos y Electrónicos (AEE)</span> es indiscutible. Estos dispositivos mejoran nuestra vida cotidiana, permitiéndonos comunicarnos, trabajar y disfrutar de entretenimiento.
                    </div>
                    <div class="info-text">
                        Sin embargo, al igual que todo en la naturaleza, tienen un ciclo de vida, y cuando este ciclo concluye, debemos enfrentar la crucial tarea de gestionar sus residuos. Estos residuos, conocidos como <span class="highlight-text">Residuos de Aparatos Eléctricos y Electrónicos (RAEE)</span>, presentan tanto oportunidades de reutilización como riesgos.
                    </div>
                    <div class="call-to-action">
                        ¡Prepárate para descubrir cómo nuestro país enfrenta este desafío global!
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="card-container">
    <!-- Generación Global -->
    <div class="custom-card" >
        <div class="icon-circlep green-theme">
            <i class="fa-solid fa-globe iconod"></i>
        </div>
        <h3 class="card-title">Generación Global</h3>
        <p class="card-text" style="font-family: 'PT Sans Narrow', sans-serif;">En 2019, se generaron <strong>53,6 millones de toneladas métricas</strong> de residuos electrónicos, un aumento del <strong>21%</strong> en solo cinco años.</p>
    </div>

    <!-- Datos por Continente -->
    <div class="custom-card">
        <div class="icon-circlep blue-theme">
            <i class="fa-solid fa-earth-americas iconod"></i>
        </div>
        <h3 class="card-title">Datos por Continente</h3>
        <ul class="custom-list">
            <li>América: 13,1 millones de toneladas.</li>
            <li>Europa: 12 millones de toneladas.</li>
            <li>Asia: 24,9 millones de toneladas.</li>
        </ul>
    </div>

    <!-- Ecuador -->
    <div class="custom-card">
        <div class="icon-circlep orange-theme">
            <i class="fa-solid fa-flag iconod"></i>
        </div>
        <h3 class="card-title">Ecuador</h3>
        <p class="card-text">Ocupa el <strong>8° lugar</strong> en generación per cápita de RAEE en América Latina.</p>
    </div>
</div>

<div class="service-process">
    <div class="titulo-containerAspectos d-flex align-items-center">
        <!-- Contenedor circular para el ícono -->
  
        <!-- Texto del título -->
        <h5 class="tituloAspectos">
            Aspectos Positivos y Negativos de la Gestión de RAEE
        </h5>
        <div class="icono-tituloAspectos me-3 ms-5">
          <i class="fas fa-clipboard-list"></i> <!-- Ícono de anotaciones -->
        </div>
      </div>
    <div class="container Aspectos">
        <div class="row">
            <!-- Primera columna -->
            <div class="col-md-6">
                <h2 class="text-center mb-5">Aspectos Positivos</h2>
                <div class="service-item">
                    <div class="service-icon">
                        <div class="icon-circle">
                            <img src="assets/img/gestion.jpg" alt="Edificios">
                        </div>
                    </div>
                    <div class="service-text">
                        <span class="service-number">1</span>
                        17,4% de los RAEE documentados se gestionan adecuadamente a nivel mundial.
                    </div>
                </div>

                <div class="service-item">
                    <div class="service-icon">
                        <div class="icon-circle">
                            <img src="assets/img/61 a 78.png" alt="Reciclaje">
                        </div>
                    </div>
                    <div class="service-text">
                        <span class="service-number">2</span>
                        El número de países con políticas sobre RAEE ha aumentado de 61 a 78 desde 2014.
                    </div>
                </div>
            </div>

            <!-- Segunda columna -->
            <div class="col-md-6">
                <h2 class="text-center mb-5">Aspectos Negativos</h2>
                <div class="service-item">
                    <div class="service-icon">
                        <div class="icon-circle">
                            <img src="assets/img/incertidumbre.jpg" alt="Fábrica">
                        </div>
                    </div>
                    <div class="service-text">
                        <span class="service-number">1</span>
                        El destino del 82,6% de RAEE restante es incierto.
                    </div>
                </div>

                <div class="service-item">
                    <div class="service-icon">
                        <div class="icon-circle">
                            <img src="assets/img/regiones.png" alt="Gráfico">
                        </div>
                    </div>
                    <div class="service-text">
                        <span class="service-number">2</span>
                        Los impactos ambientales varían según la región.
                    </div>
                </div>

                <div class="service-item">
                    <div class="service-icon">
                        <div class="icon-circle">
                            <img src="assets/img/toxico.png" alt="Planta">
                        </div>
                    </div>
                    <div class="service-text">
                        <span class="service-number">3</span>
                        Los residuos electrónicos contienen aditivos tóxicos y sustancias peligrosas.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-container">
    <!-- Header -->
    <div class="header-materiales text-center mb-4">
      Desglose de los Materiales en Dispositivos Electrónicos
    </div>
  
    <!-- Contenedor principal -->
    <div class="container d-flex justify-content-center align-items-center vh-100">
      <div class="row pyramid-container justify-content-center align-items-center text-center">
        <!-- Teléfono -->
        <div class="col-12 col-md-4 animated-container phone mb-4 mb-md-0">
          <div class="title-pyramide">Teléfono</div>
          <img src="assets/img/telefono_sin_fondo.png" alt="Teléfono" class="animated-image" style="background-color: #ededed;" />
          <div class="info-circle" style="--angle: 0deg;">Plástico: 40%</div>
          <div class="info-circle" style="--angle: 36deg;">Vidrio y Cerámica: 20%</div>
          <div class="info-circle" style="--angle: 72deg;">Cobre: 10%</div>
          <div class="info-circle" style="--angle: 108deg;">Níquel: 2% - 10%</div>
          <div class="info-circle" style="--angle: 144deg;">Cobalto: 1% - 5%</div>
          <div class="info-circle" style="--angle: 180deg;">Carbono: &lt; 5%</div>
          <div class="info-circle" style="--angle: 216deg;">Estaño: 1%</div>
          <div class="info-circle" style="--angle: 252deg;">Aluminio: 3% - 20%</div>
          <div class="info-circle" style="--angle: 288deg;">KOH: &lt; 5%</div>
          <div class="info-circle" style="--angle: 324deg;">Acero: 10%</div>
        </div>
  
        <!-- Televisor -->
        <div class="col-12 col-md-4 animated-container tv mb-4 mb-md-0">
          <div class="title-pyramide">Televisor</div>
          <img src="assets/img/telev_personaje.png" alt="Televisor" class="animated-image" style="background-color: #ededed;"/>
          <div class="info-circle" style="--angle: 36deg;">Hierro: 30%</div>
          <div class="info-circle" style="--angle: 144deg;">Aluminio: 15%</div>
          <div class="info-circle" style="--angle: 216deg;">Cobre: 10%</div>
          <div class="info-circle" style="--angle: 324deg;">Plástico: 28%</div>
        </div>
  
        <!-- Computadora -->
        <div class="col-12 col-md-4 animated-container computer mb-4 mb-md-0">
          <div class="title-pyramide">Computadora</div>
          <img src="assets/img/tele1.png" alt="Computadora" class="animated-image" style="background-color: #ededed;" />
          <div class="info-circle" style="--angle: 36deg;">Hierro: 7%</div>
          <div class="info-circle" style="--angle: 144deg;">Aluminio: 5%</div>
          <div class="info-circle" style="--angle: 216deg;">Cobre: 18%</div>
          <div class="info-circle" style="--angle: 324deg;">Plástico: 23%</div>
        </div>
      </div>
    </div>
  </div>
  
<div class="container mt-4">
    <div class="row">
        <div class="col-12 text-center d-flex align-items-center">
            <!-- Imagen más grande y alineada a la izquierda -->
            <img alt="Cartoon image of a happy mobile phone" class="phone-image" height="200" src="assets/img/telefono.png" width="200" />
            <div class="header-text">
                Gestionar correctamente estos residuos no solo protege nuestra salud y el ambiente, sino que también nos
                permite aprovechar mejor los recursos que la naturaleza nos ofrece.
            </div>
        </div>
    </div>
    <div class="row content-section">
        <!-- Primer contenedor con imagen y título -->
        <div class="col-md-6 text-center">
            <div class="bordered-container-text">
                <img alt="Person in protective gear inspecting waste in a landfill" class="section-image" height="150"
                    src="assets/img/residuos.jpg" width="300" />
                <div class="section-title mt-2">
                    Consecuencias del mal manejo de residuos electrónicos
                </div>
                <div class="section-text">
                    <ul class="text-start">
                        <li>Contaminación ambiental: Los desechos electrónicos mal gestionados contaminan el aire, el
                            agua y el suelo.</li>
                        <li>Gases de efecto invernadero: Los procesos de eliminación inadecuados liberan gases que
                            intensifican el cambio climático.</li>
                        <li>Pérdida de recursos: Al desechar RAEE en vertederos o incinerarlos, se desperdician
                            materiales y energía valiosos.</li>
                        <li>Riesgos para la salud: La exposición a estos residuos puede causar enfermedades y otros
                            problemas de salud.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Segundo contenedor con imagen y título -->
        <div class="col-md-6 text-center">
            <div class="bordered-container-text">
                <img alt="Hands holding a small plant in soil" class="section-image" height="150" src="planta.jpeg"
                    width="300" />
                <div class="section-title mt-2">
                    Acciones necesarias para su manejo adecuado
                </div>
                <div class="section-text">
                    <ul class="text-start">
                        <li>Concienciación: Educar a la población sobre los riesgos y las soluciones.</li>
                        <li>Normativas: Implementar políticas claras para regular la gestión de RAEE.</li>
                        <li>Responsabilidad del productor: Asegurar que los fabricantes gestionen los residuos generados
                            por sus productos.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="header">
    Normativa para la gestión de RAEE en Ecuador
</div>
<div class="content container">
    <div class="row">
        <div class="col-12 text-center d-flex align-items-center">
            <!-- Imagen más grande y alineada a la izquierda -->
            <img alt="justice" class="justice-image" height="200" src="justicia.jpeg" width="200" />
            <div class="header-text">
                Ecuador cuenta con un marco normativo que regula el manejo adecuado de estos residuos:
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="section-title">
                <h2>
                    Código Orgánico Ambiental (COA)
                </h2>
            </div>
            <div class="bordered-container">
                <p>
                    Establece las bases para la gestión integral de RAEE y asigna responsabilidades a los actores
                    involucrados.
                </p>
            </div>
            <div class="section-title mt-4">
                <h2>
                    Acuerdos Ministeriales 067 y 097
                </h2>
            </div>
            <div class="bordered-container">
                <p>
                    <strong>
                        067:
                    </strong>
                    Establece la responsabilidad de los productores para gestionar los RAEE generados por sus productos.
                </p>
                <p>
                    <strong>
                        097:
                    </strong>
                    Regula la disposición adecuada de lámparas LED y de descarga, promoviendo la economía circular.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="section-title">
                <h2>
                    Reglamento al COA (RCOA)
                </h2>
            </div>
            <div class="bordered-container">
                <p>
                    Especifica procesos y criterios para asegurar el cumplimiento de las disposiciones ambientales.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="informacion">
    <h1>Gestión Responsable de Residuos Electrónicos (RAEE)</h1>

    <!-- ¿Qué implica gestionar los RAEE? -->
    <section class="left-image">
        <img src="implica.webp" alt="Imagen descriptiva">
        <div class="content">
            <div class="title">¿Qué implica gestionar los RAEE?</div>
            <div class="info">
                <p>Se trata de recuperar materiales valiosos, minimizar el daño ambiental y fomentar una economía circular mediante la correcta disposición de dispositivos electrónicos.</p>
            </div>
        </div>
    </section>

    <!-- Acciones Clave -->
    <section class="right-image">
        <img src="clave.avif" alt="Imagen descriptiva">
        <div class="content">
            <div class="title">Acciones Clave</div>
            <div class="info">
                <ul>
                    <li><strong>Recolección selectiva:</strong> Depositar dispositivos electrónicos obsoletos en puntos de reciclaje especializados.</li>
                    <li><strong>Reparación:</strong> Extender la vida útil de los aparatos mediante soluciones técnicas.</li>
                    <li><strong>Reutilización:</strong> Dar un segundo uso a partes o componentes.</li>
                    <li><strong>Reciclaje:</strong> Colaborar con iniciativas de reciclaje organizadas por fabricantes o distribuidores.</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- ¿Dónde se entregan los RAEE? -->
    <section class="left-image">
        <img src="assets/img/entrega.png" alt="Entrega de RAEE">
        <div class="content">
            <div class="title">¿Dónde se entregan los RAEE?</div>
            <div class="info">
                <ul>
                    <li><strong>Centros autorizados:</strong> Ubicados en municipios, universidades o empresas de reciclaje.</li>
                    <li><strong>Tiendas:</strong> Muchas ofrecen programas de reciclaje con beneficios, como descuentos.</li>
                    <li><strong>Campañas comunitarias:</strong> Jornadas organizadas por comunidades o fundaciones.</li>
                    <li><strong>Puntos de acopio:</strong> En supermercados, centros comerciales o eventos públicos.</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Cómo Involucrarte  -->
    <section class="right-image">
        <img src="assets/img/involucrarte.jpg" alt="Involucrarse en el reciclaje">
        <div class="content">
            <div class="title">Cómo Involucrarte</div>
            <div class="info">
                <ul>
                    <li>Apoya campañas educativas que promuevan el reciclaje.</li>
                    <li>Aprende sobre la Responsabilidad Extendida del Productor (REP), que responsabiliza a fabricantes de la gestión de sus productos desechados.</li>
                    <li>Participa activamente reparando, reutilizando o entregando tus dispositivos para reciclaje.</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- ¿Por qué reciclar dispositivos electrónicos? -->
    <section class="left-image">
        <img src="assets/img/reciclar.jpg" alt="Reciclaje de dispositivos">
        <div class="content">
            <div class="title">¿Por qué reciclar dispositivos electrónicos?</div>
            <div class="info">
                <p>Estos contienen metales y otros materiales que pueden reutilizarse en nuevos productos, reduciendo la extracción de recursos y protegiendo el medio ambiente.</p>
            </div>
        </div>
    </section>
</div>
